.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
}

button:hover {
  background-color: #45a049;
}

.winning-text {
  text-align: center;
  font-size: 40px;
}
